<!--==========================================
                   FEEDBACK
===========================================-->
<section id="feedback" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="{{ theme_url }}/libs/images/icons/bubbles-alt.png" alt="demo">播出反馈</h4>
        </div>

        <div id="timeline-education">
            <!-- Feadback Items -->
            {% for item in header.feedbacks %}
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot">
                    {% if item.use_default_icon == 0 %}
                         
                        {% if item.use_custom_icon == 1 and item.custom_icon %}    
                            <i class="fa fa-{{ item.custom_icon }}"></i> 
                        {% elseif item.letter %}
                            <h6>{{ item.letter }}</h6>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-commenting"></i>
                    {% endif %}

                </div>
                <!-- ITEM CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">{{ item.title }}</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>{{ item.sub_title }}</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            {{ item.content }}
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-1">
                            {% if item.type == 's1' %}
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            {% elseif item.type == 's2' %}
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
            <!-- Feadback Items End -->

            <!-- FIRST TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><i class="fa fa-commenting"></i></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Preparatory Education</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Fedrick School</small>
                            </h6>
                            <h6>
                                <small>Jan 1997 - Mar 2000</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            I completed my preparatory education from this prestigious institution.
                            I successful completed all the credits without any fallout and got A grade overall.
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-1">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- FIRST TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><i class="fa fa-commenting"></i></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Preparatory Education</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Fedrick School</small>
                            </h6>
                            <h6>
                                <small>Jan 1997 - Mar 2000</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            I completed my preparatory education from this prestigious institution.
                            I successful completed all the credits without any fallout and got A grade overall.
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-1">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>C</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <div class="col-md-7 noPaddingLeft">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">CNN</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>报道</small>
                                </h6>
                                <h6>
                                    <small>Jan 2000 - Mar 2005</small>
                                </h6>
                                <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-3">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- TIMELINE PARAGRAPH -->
                            <!-- <p>
                            报道的具体内容
                            </p> -->
                        </div>
                        <div class="col-md-5 noPaddingLeft">
                            <img class="feedback-image"  src="{{theme_url}}/libs/images/profile/profile.png">
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>
            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>C</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <div class="col-md-5 noPaddingLeft">
                            <img class="feedback-image"  src="{{theme_url}}/libs/images/profile/profile.png">
                        </div>
                        <div class="col-md-7 noPaddingLeft">
                            <!-- TIMELINE TITLE -->
                            <h6 class="timeline-title">CNN</h6>
                            <!-- TIMELINE TITLE INFO -->
                            <div class="timeline-info">
                                <h6>
                                    <small>报道</small>
                                </h6>
                                <h6>
                                    <small>Jan 2000 - Mar 2005</small>
                                </h6>
                                <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>
            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>C</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">CNN报道<a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a></h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Jan 2000 - Mar 2005</small>
                            </h6>
                        </div>
                        <img class="feedback-image"  src="{{theme_url}}/libs/images/blog/blog-2.png">
                        <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>
            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>H</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <p class="pPaddingTop">
                            老龄化社会在现今世界各地都是常见问题。关于老年人的每项举措都是有价值的，特别是因为他们是家庭生活的核心。
                        </p>
                        <div class="timeline-info author-info">
                            <h6 class="author-name">
                                <small>网友 NONA</small>
                            </h6>
                            <!-- <h6>
                                <small><span>Jan 2000 - Mar 2005</span></small>
                            </h6> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECOND TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>H</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="col-md-2 noPaddingRight">
                        <img class="author-portfolio" src="{{theme_url}}/libs/images/clients/client-1.png">
                    </div>
                    <div class="col-md-10 noPaddingLeft">
                        <div class="card-content card-content-noPaddingTop">
                            <p>
                                老龄化社会在现今世界各地都是常见问题。关于老年人的每项举措都是有价值的，特别是因为他们是家庭生活的核心。
                            </p>
                            <div class="timeline-info author-info">
                                <h6 class="author-name">
                                    <small>Janusz Szewczak</small>
                                </h6>
                                <h6>
                                    <small><span>38，英国，伦敦</span></small>
                                </h6>
                            </div>
                            <!-- TIMELINE TITLE -->
                            <!-- <h6 class="timeline-title">High School</h6> -->
                            <!-- TIMELINE PARAGRAPH -->
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- THIRD TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>C</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Computer Science</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Down Street College</small>
                            </h6>
                            <h6>
                                <small>Jan 2006 - Mar 2008</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            I completed my computer science degree from this prestigious institution.
                            I successful completed all the credits without any fallout and got A grade overall.
                        </p>

                    </div>
                </div>
            </div>

            <!-- FOURTH TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><i class="fa fa-commenting"></i></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Software Engineering</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Oxford University</small>
                            </h6>
                            <h6>
                                <small>Jan 2009 - Mar 2010</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            I completed this degree from this prestigious institution.
                            I successful completed all the credits without any fallout and got A grade overall.
                        </p>

                    </div>
                </div>
            </div>
            <!-- FIFTH TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><h6>U</h6></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">UI/UX Workshop</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>IT Next Academy</small>
                            </h6>
                            <h6>
                                <small>Jan 2010 - Mar 2011</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            I completed this course from this prestigious institution.
                            I successful completed all the credits without any fallout and got A grade overall.
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-2">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- SIXTH TIMELINE -->
            <div class="timeline-block">
                <!-- DOT -->
                <div class="timeline-dot"><i class="fa fa-globe"></i></div>
                <!-- TIMELINE CONTENT -->
                <div class="card timeline-content">
                    <div class="card-content">
                        <!-- TIMELINE TITLE -->
                        <h6 class="timeline-title">Web Development</h6>
                        <!-- TIMELINE TITLE INFO -->
                        <div class="timeline-info">
                            <h6>
                                <small>Lipro University</small>
                            </h6>
                            <h6>
                                <small>Jan 2011 - Mar 2012</small>
                            </h6>
                        </div>
                        <!-- TIMELINE PARAGRAPH -->
                        <p>
                            I completed this course from this prestigious institution.
                            I successful completed all the credits without any fallout and got A grade overall.
                        </p>
                        <!-- BUTTON TRIGGER MODAL -->
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================================
                  MODALS
===========================================-->
<section>
    <!--MODAL ONE-->
    <div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel-1">GRADUATION AT ASHTON UNI</h4>
                    <h6>
                        <small>Jan 2014 - Mar 2015</small>
                    </h6>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <img class="img-responsive" alt="graduation" src="images/timeline/demo-gra.jpg">
                    <p>
                        I have learned a great many things from participating in varsity football.
                        It has changed my entire outlook on and attitude toward life. Before my
                        freshman year at [high-school], I was shy, had low self-esteem and turned
                        away from seemingly impossible challenges. Football has altered all of these
                        qualities. On the first day of freshman practice, the team warmed up with a
                        game of touch football. The players were split up and the game began. However,
                        during the game, I noticed that I didn't run as hard as I could, nor did I try
                        to evade my defender and get open. The fact of the matter is that I really did
                        not want to be thrown the ball. I didn't want to be the one at fault if I dropped
                        the ball and the play didn't succeed. I did not want the responsibility of helping
                        the team because I was too afraid of making a mistake. That aspect of my character
                        led the first years of my high school life. All the while, I went to practice.
                    </p>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--MODAL TWO-->
    <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel-2">媒体截图</h4>
                    <h6>
                        <small>Jan 2014 - Mar 2015</small>
                    </h6>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <img src="{{theme_url}}/libs/images/blog/blog-2.png" alt="demo"></img>
                    <p>

                        I have learned a great many things from participating in varsity football.
                        It has changed my entire outlook on and attitude toward life. Before my
                        freshman year at [high-school], I was shy, had low self-esteem and turned
                        away from seemingly impossible challenges. Football has altered all of these
                        qualities. On the first day of freshman practice, the team warmed up with a
                        game of touch football. The players were split up and the game began. However,
                    </p>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--MODAL THREE-->
    <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-close"></i></span></button>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <div class="col-md-7">
                        <h4 class="modal-title" id="myModalLabel-3">人工智能的路，被贤二“和尚”缩短了</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                        <p>
                            在当代中国利用高科技弘扬中国传统文化的有趣故事。<br>
                            一个呆萌的机器人在网上火了。和普通机器人一样，它身高近60厘米，能跟人语音对话，能明白简单的指令；但不同的是，它身穿黄色僧袍，会说佛经佛法，还动不动就说“我去问问我师父”。
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img class="img-responsive" alt="graduation" src="{{theme_url}}/libs/images/profile/profile.png">
                    </div>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FOUR-->
    <div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-close"></i></span></button>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <div class="col-md-5">
                        <img class="img-responsive" alt="graduation" src="{{theme_url}}/libs/images/profile/profile.png">
                    </div>
                    <div class="col-md-7">
                        <h4 class="modal-title" id="myModalLabel-3">人工智能的路，被贤二“和尚”缩短了</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                        <p>
                            在当代中国利用高科技弘扬中国传统文化的有趣故事。<br>
                            一个呆萌的机器人在网上火了。和普通机器人一样，它身高近60厘米，能跟人语音对话，能明白简单的指令；但不同的是，它身穿黄色僧袍，会说佛经佛法，还动不动就说“我去问问我师父”。
                        </p>
                    </div>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FIVE-->
    <div class="modal fade" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel-5">人工智能的路，被贤二“和尚”缩短了</h4>
                    <h6 class="noPadding">
                        <small>Jan 2014 - Mar 2015</small>
                    </h6>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <img src="{{theme_url}}/libs/images/blog/blog-2.png" alt="demo"></img>
                    <p>
                        在当代中国利用高科技弘扬中国传统文化的有趣故事。<br>
                        一个呆萌的机器人在网上火了。和普通机器人一样，它身高近60厘米，能跟人语音对话，能明白简单的指令；但不同的是，它身穿黄色僧袍，会说佛经佛法，还动不动就说“我去问问我师父”。
                    </p>
                    </p>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
</section>

{% block javascripts %}
{% do assets.addInlineJs("
    var timeline_div_height = $('#timeline-education').height();
    var last_div_top = $('#timeline-education .timeline-block:last-child').height();
    
    var line_height = timeline_div_height - last_div_top;

    $('#timeline-education').append('<style>#timeline-education::before{height: '+line_height+'px}</style>')
    ", 86) %}
{% endblock %}