<!--==========================================
                   V-CARD
===========================================-->
<div id="v-card-holder" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- V-CARD -->
                <div id="v-card" class="card">

                    <!-- PROFILE PICTURE -->
                    <div id="profile" class="right">
                        {% set image = page.media.images|first %}
                        {% if image %}                            
                            <img alt="profile-image" class="img-responsive" src="{{ image.cropZoom(400,400).url }}">
                        {% else %}
                            <img alt="profile-image" class="img-responsive" src="{{theme_url}}/libs/images/profile/profile.png">
                        {% endif %}

                        
                        <div class="slant"></div>

                        <!--EMPTY PLUS BUTTON-->
                        <!--<div class="btn-floating btn-large add-btn"><i class="material-icons">add</i></div>-->

                        <!--VIDEO PLAY BUTTON-->
                        <div id="button-holder" class="btn-holder">
                            <div id="play-btn" class="btn-floating btn-large btn-play">
                                <i id="icon-play" class="material-icons">play_arrow</i>
                            </div>
                        </div>
                        <div class="calendar-holder">
                            <p class="calendar">{{ header.date|date('d') }}<em>{{ header.date|date('Y年m月') }}</em></p>
                        </div>
                    </div>
                    <!--VIDEO CLOSE BUTTON-->
                    <div id="close-btn" class="btn-floating icon-close">
                        <i class="fa fa-close"></i>
                    </div>

                    <div class="card-content">

                        <!-- NAME & STATUS -->
                        <div class="info-headings">
                            <h4 class="text-uppercase left">{{ header.v_card_title }}</h4>
                            <h6 class="text-capitalize left">{{ header.v_card_sub_title }}</h6>
                        </div>

                        <!-- CONTACT INFO -->
                        <div class="infos">
                            <div class="profile-list">
                                <span class="content left">{{ header.v_card_description|truncate(200, true) }}</span>
                            </div>
                        </div>

                        <!--LINKS-->
{#                         <div class="links">
                            {% for social in page.header.social_medias %}
                            <a href="{{social.url}}"
                               class="social btn-floating {{social.css_class}}"><i
                                    class="fa fa-{{social.icon}}"></i></a>
                            {% endfor %}                     
                        </div> #}
                        <!--LINKS-->
                        <div class="links">
                            <!-- FACEBOOK-->
                            <a href="#" id="first_one"
                               class="social btn-floating indigo"><i
                                    class="fa fa-facebook"></i></a>
                            <!-- TWITTER-->
                            <a href="#" class="social  btn-floating blue"><i
                                    class="fa fa-twitter"></i></a>
                            <!-- GOOGLE+-->
                            <a href="#" class="social  btn-floating red"><i
                                    class="fa fa-google-plus"></i></a>
                            <!-- LINKEDIN-->
                            <a href="#" class="social  btn-floating blue darken-3"><i
                                    class="fa fa-linkedin"></i></a>
                            <!-- RSS-->
                            <a href="#" class="social  btn-floating orange darken-3"><i
                                    class="fa fa-rss"></i></a>
                        </div>
                    </div>
                    <div id="vid" style="display:none">{{header.v_card_vid}}</div>
                    <!--HTML 5 VIDEO-->
                    <!-- <video id="html-video" class="video" poster="{{theme_url}}/libs/images/poster/poster.jpg" controls>
                        
                        <source src="videos/......" type="video/webm">
                        <source src="videos/......" type="video/mp4">
                    </video> -->
                    
                    <div id='html-video' style="position: absolute;z-index: 2"></div>

                    {% block javascripts %}
                    <script src='//player.polyv.net/script/polyvplayer.min.js'></script>
                    {% do assets.addInlineJs("var vcardWidth = $('#v-card').width();
                        var videoHeight = vcardWidth/16*9;
                        var vid = $('#vid').text();
                        var player = polyvObject('#html-video').videoPlayer({
                            'width' : vcardWidth,
                            'height' : videoHeight,
                            'vid' : vid
                        });

                        function resume()
                        {
                          player.j2s_resumeVideo();
                        }
                          
                        function pause()
                        {
                          player.j2s_pauseVideo();
                        }", 99) %}
                    {% endblock %}
                    
                </div>
            </div>
        </div>
    </div>
</div>