{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://libs/images/site/fav-icon.png') }}" />
    <!--APPLE TOUCH ICON-->
    <link rel="apple-touch-icon" href="{{ url('theme://libs/images/site/apple-touch-icon.png') }}" >

    <link rel="canonical" href="{{ page.url(true, true) }}" />



    {% block stylesheets %}
        <!-- GOOGLE FONT -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>


        <!-- MATERIAL ICON FONT -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- FONT AWESOME -->
        {% do assets.addCss('theme://libs/stylesheets/vendors/font-awesome.min.css',97) %}
        <!-- ANIMATION -->
        {% do assets.addCss('theme://libs/stylesheets/vendors/animate.min.css',96) %}
        <!-- MAGNIFICENT POPUP -->
        {% do assets.addCss('theme://libs/stylesheets/vendors/magnific-popup.css',95) %}
        <!-- SWIPER -->
        {% do assets.addCss('theme://libs/stylesheets/vendors/swiper.min.css',94) %}
        <!-- MATERIALIZE -->
        {% do assets.addCss('theme://libs/stylesheets/vendors/materialize.css',93) %}
        <!-- BOOTSTRAP -->
        {% do assets.addCss('theme://libs/stylesheets/vendors/bootstrap.min.css',92) %}
        <!-- CUSTOM STYLE IN THEME -->
        {# {% set color = random(['_blue', '_blue_blend', '_brown', '_dark_dark', '_dark_gary', '_gary', '_green', '_green_blend', '_pink', '_purple', '_red', '_teal']) %} #}
        {% do assets.addCss('theme://libs/stylesheets/style.css',91) %}
        {# {% do assets.addCss('theme://libs/stylesheets/style_dark_dark.css',91) %}#}
        {# {% do assets.addCss('theme://libs/stylesheets/style'~ color ~'.css',91) %} #}
        <!-- CUSTOM STYLE IN GRAV-->
        {% do assets.addCss('theme://css/custom.css',90) %}

    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<!--==========================================
                  PRE-LOADER
===========================================-->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="box-holder animated bounceInDown">
                <span class="load-box"><span class="box-inner"></span></span>
            </div>
            <!-- NAME & STATUS -->
            <div class="text-holder text-center">
                <h2>一天一条</h2>
                <h6>One Day One Story</h6>
            </div>
        </div>
    </div>
</div>



{% block header %}
<!--==========================================
                    HEADER
===========================================-->
    <header id="home">
        {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
        {% endblock %}


        <!--HEADER BACKGROUND-->
        <div class="header-background section"></div>

    </header>
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

<!--==========================================
                     SCROLL TO TOP
===========================================-->
<div id="scroll-top">
    <div id="scrollup"><i class="fa fa-angle-up"></i></div>
</div>

{% block footer %}
    <footer>
        <div class="container footer-background">
            {% if isMobile() %}
                <p class="text-center">
                    <strong>天天全球播，故事千万亿</strong><br>
                    谁是今天千万亿?<br>
                    <img class="img-responsive" style="margin: 0 auto;max-width: 50%;display: inline-block;" src="{{ theme_url }}/libs/images/custom/bottom-logo-bottom.png">
                    <img class="img-responsive" style="width: 80px;margin-left: 20px;display: inline-block;" alt="Bon Cloud" src="{{ theme_url }}/libs/images/custom/qrcode.png">
                    <ul style="list-style: none;text-align: left;">
                        <li>地 址：北京市朝阳区东八里庄1号莱锦创意产业园CN16蓝海电视大楼</li>
                        <li>电 话：010-5227 0866</li>
                        <li>传 真：010-5227 0999</li>
                        <li>邮 箱：sales@bon-cloud.com</li>
                        <li>微信公众号：千万亿全球播</li>
                    </ul>
                    © OneDayOneStroy. All right reserved by
                    <a href="http://premium.bon-cloud.net/" target="_blank">
                        <strong>Bon-Cloud</strong>
                    </a>
                </p>
            {% elseif isTablet() %}
                <div class="col-two-fifth-pad">
                    <img class="img-responsive" style="margin: 0 auto;max-width: 70%;" src="{{ theme_url }}/libs/images/custom/bottom-logo-bottom.png">
                    <p class="text-center">
                        <strong>天天全球播，故事千万亿</strong><br>
                        谁是今天千万亿?<br>
                    </p>
                </div>
                <div class="col-two-fifth-pad">
                    <ul style="list-style: none;text-align: left;">
                        <li>地 址：北京市朝阳区东八里庄1号莱锦创意产业园CN16蓝海电视大楼</li>
                        <li>电 话：010-5227 0866</li>
                        <li>传 真：010-5227 0999</li>
                        <li>邮 箱：sales@bon-cloud.com</li>
                        <li>微信公众号：千万亿全球播</li>
                    </ul>
                    © OneDayOneStroy. All right reserved by
                    <a href="http://premium.bon-cloud.net/" target="_blank">
                        <strong>Bon-Cloud</strong>
                    </a>
                </div>
                <div class="col-one-fifth-pad">
                    <img class="img-responsive" style="margin: 0 auto;max-width: 90%;" alt="Bon Cloud" src="{{ theme_url }}/libs/images/custom/qrcode.png">
                </div>
                <div class="clearfix"></div>
            {% else %}
                <div style="margin: 0 auto;padding: 20px 20px 0;">
                    <div style="margin: 0 auto;width: 350px;">
                        <img class="img-responsive" style="width: 180px;float: left;display: inline-block;" src="{{ theme_url }}/libs/images/custom/bottom-logo-bottom.png">
                        <img class="img-responsive" style="width: 90px;margin-left: 50px;display: inline-block;" alt="Bon Cloud" src="{{ theme_url }}/libs/images/custom/qrcode.png">
                    </div>
                </div>
                <p class="text-center">
                    © OneDayOneStroy. All right reserved by
                    <a href="http://premium.bon-cloud.net/" target="_blank">
                        <strong>Bon-Cloud</strong>
                    </a>
                </p>
            {% endif %}
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://libs/javascript/vendors/jquery-2.1.3.min.js', 100) %}
    {% do assets.addJs('theme://libs/javascript/vendors/bootstrap.min.js', 98) %}
    {% do assets.addJs('theme://libs/javascript/vendors/materialize.min.js', 97) %}
    {% do assets.addJs('theme://libs/javascript/vendors/markerwithlabel.min.js', 96) %}
    {% do assets.addJs('theme://libs/javascript/vendors/retina.min.js', 95) %}
    {% do assets.addJs('theme://libs/javascript/vendors/scrollreveal.min.js', 94) %}
    {% do assets.addJs('theme://libs/javascript/vendors/swiper.jquery.min.js', 93) %}
    {% do assets.addJs('theme://libs/javascript/vendors/jquery.magnific-popup.min.js', 92) %}
    {% do assets.addJs('theme://libs/javascript/custom.js', 91) %}

{% endblock %}

{{ assets.js() }}

</body>
</html>
