<nav id="theMenu" class="menu">

    <!--MENU-->
    <div id="menu-options" class="menu-wrap">

        <!--PERSONAL LOGO-->
        <div class="logo-flat">
            <img alt="personal-logo" class="img-responsive" src="{{theme_url}}/libs/images/profile/john.png">
        </div>
        <br>

        <!--OPTIONS-->
        <a href="{{ base_url }}"><i class="title-icon fa fa-user"></i>Home</a>
        {% if page.url == home_url %}
        <a href="{{ base_url }}#about"><i class="title-icon fa fa-dashboard"></i>About</a>
        <a href="{{ base_url }}/#feedback"><i class="title-icon fa fa-graduation-cap"></i>Feedback</a>
        <a href="{{ base_url }}/#skills"><i class="title-icon fa fa-sliders"></i>Data</a>
        {% endif %}
        <a href="{{ base_url }}/history"><i class="title-icon fa fa-suitcase"></i>History</a>
    </div>

    <!-- MENU BUTTON -->
    <div id="menuToggle">
        <div class="toggle-normal">
            <i class="material-icons top-bar">remove</i>
            <i class="material-icons middle-bar">remove</i>
            <i class="material-icons bottom-bar">remove</i>
        </div>
    </div>
</nav>