{% extends 'partials/base.html.twig' %}

{% block content %}
{% set collection = page.collection() %}
	{% set item_title = '' %}
	{% set item_sub_title = '' %}
	{% set item_content = '' %}
	{% set item_img = null %}

	{% set for_break = false %}

<section id="blog" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="{{theme_url}}/libs/images/icons/post-it.png" alt="demo">History List</h4>
        </div>
        <div id="blog-card" class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
					{% for item in collection %}
						{% for md in item.collection() if for_break == false %}
                    		{% if md.slug == '_v-card' %}
                    			{% set item_title = md.header.v_card_title %}
                    			{% set item_img = md.media.images|first %}
                    			{% set for_break = true %}
                    		{% endif %}
							{{ dump(md.slug) }}
                    	{% endfor %}
                    	{% set for_break = false %}

						<div class="blog {% if loop.index is divisibleby(2) %}even {% else %}odd{% endif %}">
	                        <!--IMAGE-->
	                        <div class="image">
	                        	<p class="calendar">19 <em>2017年5月</em></p>
	                            <img alt="blog-image" src="{{ item_img.cropZoom(800,500).url }}"/>
	                            <div class="image-overlay">
	                            	<div class="col-md-12 image-overlay-title">
									  <figure class="port-effect-up">
									        <figcaption>
									        	<h4>{{ item_title }}</h4>
									        </figcaption>
									  </figure>
									</div>
	                                <div class="comments">
	                                    <i class="fa fa-user"></i> For
	                                    <i class="fa fa-clock-o"></i>
	                                    <time datetime="2045-08-16">2017年5月19日</time>
	                                    <i class="fa fa-comments"></i> 168
	                                </div>
	                            </div>
	                        </div>
	                        <!--DETAILS-->
	                        <div class="content">
	                            <ol class="breadcrumb">
	                                <!-- <li><a href="#">Frontend</a></li>
	                                <li><a href="#">Design</a></li> -->
	                                <li class="active">2017年5月19日</li>
	                            </ol>
	                            <h6>{{ item_title }}</h6>
	                            
	                            <p>
	                                
	                            </p>
	                            <a class="forward" href="{{item.url}}">Read More</a>
	                        </div>
                    	</div>
						
					{% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagination" class="section">
    <div class="container" style="text-align: center">
{% if config.plugins.pagination.enabled and collection.params.pagination %}
	{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
	</div>
</section>

{% endblock %}