{% extends 'partials/base.html.twig' %}

{% block content %}
{% set collection = page.collection() %}
	{% set item_title = '' %}
	{% set item_sub_title = '' %}
	{% set item_content = '' %}
	{% set item_date = '' %}
	{% set item_img = null %}

	{% set for_break = false %}

<section id="blog" class="section">
    <div class="container">
        <!-- SECTION TITLE -->
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="{{theme_url}}/libs/images/custom/history-icon.png">往日精彩故事</h4>
        </div>
        <div id="blog-card" class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
					{% for item in collection %}
                		
            			{% set item_title = item.title %}
            			{% set item_img = item.media[item.header.v_card_img] %}
            			{% set item_date = item.header.date %}
            			{% set item_content = item.content %}

						<div class="blog {% if loop.index is divisibleby(2) %}even {% else %}odd{% endif %}">
	                        <!--IMAGE-->
	                        <div class="image">
	                        	<p class="calendar">{{ item_date|date('d') }}<em>{{ item_date|date('Y年m月') }}</em></p>
		                        {% if item_img %}                            
		                            <img alt="blog-image" src="{{ item_img.cropZoom(800,500).url }}"/>
		                        {% else %}
		                            <img alt="profile-image" class="img-responsive" src="{{theme_url}}/libs/images/blog/blog-1.png">
		                        {% endif %}
	                            <a href="{{item.url}}">
		                            <div class="image-overlay">
		                            	<div class="col-md-12 image-overlay-title">
										  <figure class="port-effect-up">
										        <figcaption>
										        	<h4>{{ item_title }}</h4>
										        </figcaption>
										  </figure>
										</div>
		                                <div class="comments">
		                                    <i class="fa fa-newspaper-o"></i> Published @
		                                    <i class="fa fa-date-o"></i>
		                                    <time datetime="{{ item_date|date('Y/m/d') }}">{{ item_date|date('M d, Y') }}</time>
		                                    {# <i class="fa fa-comments"></i> 168 #}
		                                </div>
		                            </div>
	                            </a>
	                        </div>
	                        <!--DETAILS-->
	                        <div class="content">
	                            <h6>{{ item_title }}</h6>
	                            <p>
	                                {{ item_content |truncate(100)}}
	                            </p>
	                            <a class="forward" href="{{item.url}}">Read More</a>
	                        </div>
                    	</div>
						
					{% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<section id="pagination" class="section">
    <div class="container" style="text-align: center">
{% if config.plugins.pagination.enabled and collection.params.pagination %}
	{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
	</div>
</section>

{% endblock %}